<!DOCTYPE html>
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container container-simulacion">
      <div class="row">
        <div class="col">
          <div id="parametros">
            <%= render 'coeficiente', coeficientes: @coeficientes %>
          </div>
        </div>
        <div class="col">


          
          <div class="form-sliders">
          <%= form_tag(simulation_path, method: 'GET', remote: true, class: 'form_busqueda') do %>
            <%= label_tag(:velocidad_entrada, "Ingrese velocidad de entrada del viento:") %>
            <input type="range" id="velocidad_entrada" name="velocidad_entrada" min="3.5" max="11" step="0.5" onchange="updateVelocidadInicial(this.value);">
            <input type="text" id="velocidad_inicial" value="">
            <br>

            <%= label_tag(:velocidad_salida, "Ingrese velocidad de salida del viento:") %>
            <input type="range" id="velocidad_salida" name="velocidad_salida" min="3.5" max="11" step="0.5" onchange="updateVelocidadFinal(this.value);">
            <input type="text" id="velocidad_final" value="">
            <br>

            <%= label_tag(:largo_aspa, "Ingrese el largo de las aspas:") %>
            <input type="range" id="largo_aspa" name="largo_aspa" min="15" max="25" onchange="updateLargoAspa(this.value);">
            <input type="text" id="largo_inicial" value="">
            <br>

            <br>
            <%= submit_tag("Calcular", class: 'btn btn-success') %>

          <% end %>
        </div>
        </div>
       
    </div>
  </div>
    
    
  </body>
</html>
<script>
  function updateVelocidadInicial(val) {
          document.getElementById('velocidad_inicial').value=val + ' m/s';
          
        }

  function updateVelocidadFinal(val) {
          document.getElementById('velocidad_final').value=val + ' m/s'; 

        }

  function updateLargoAspa(val) {
          document.getElementById('largo_inicial').value=val + ' m'; 
        }

  // function updatePresionFinal(val) {
  //         document.getElementById('presion_final').value=val; 
  //       }
</script>